<%- include('./partials/header') %>

<ul>
  <li>
    <a href="/form">Fill Form</a>
  </li>
  <li>
    <a href="/view">View All Entries</a>
  </li>
</ul>

<%- include('./partials/footer') %>